.App-logo {
    height: 20vmin;
    pointer-events: none;
    z-index: 1;
    position:absolute;
    left: 20%;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-intro {
    min-height: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .App-Banner{
    height: 100%;
    width: 100%;
    margin-top: -30px;
  }
  
  .texto{
    position: absolute;
    top: 150px;
    left: 250px;
    color: rgb(11, 41, 105);
  }